name: Generate README

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: core

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true

      - name: Install UV
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Install project
        run: uv sync --no-dev

      - name: Run script to generate README
        run: uv run source/generation/readme_generator.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add source/testing/test.md
          git add ../resources/readmes/
          git add ../README.md
          git diff --quiet && git diff --staged --quiet || git commit -m "Generate READMEs"
          git push
