name: Status Maintenance

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 1" # Every monday at 2 am UTC

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: core

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true

      - name: Install UV
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Install project
        run: uv sync --no-dev

      - name: Run status maintenance script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: uv run source/maintenance/status_checker.py

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add ../resources/maintenance/status_maintenance.md
          git commit -m "Run status_maintenance" || echo "No changes to commit"
          git push
